{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Nombre</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Carrera</th>
    <th scope="col">Fecha</th>
    <th scope="col">Turno</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for gemn in object_list %}
{% if gemn.estudiante.sex == 'M' and gemn.diurno == False and gemn.estudiante.becado == True %}
<tr>
    <td>{{gemn.estudiante.nombre }}</td>
    <td>{{gemn.estudiante.lastName}}</td>
    <td>{{gemn.estudiante.carrera}}</td>
    <td>{{gemn.fecha| date:"d/m/Y"}}</td>
    <td>{{gemn.turno}}</td>
    <td>
        <button type="button" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></button>
    </td>
</tr>
{% endif %}
{% endfor %}


{% endblock %}