{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Nombre</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Carrera</th>
    <th scope="col">Fecha</th>
    <th scope="col">Turno</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for geed in object_list %}
{% if geed.estudiante.sex == 'M' and geed.diurno == True and geed.estudiante.becado == False%}
<tr>
    <td>{{geed.estudiante.nombre }}</td>
    <td>{{geed.estudiante.lastName}}</td>
    <td>{{geed.estudiante.carrera}}</td>
    <td>{{geed.day| date:"d/m"}}</td>
    <td>{{geed.turno}}</td>
    <td>
        <button type="button" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></button>
    </td>
</tr>
{% endif %}
{% endfor %}


{% endblock %}