{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Nombre</th>
    <th scope="col">Apellidos</th>
    <th scope="col">CI</th>
    <th scope="col">Sexo</th>
    <th scope="col">Becado</th>
    <th scope="col">Limitaciones</th>
    <th scope="col">Carrera</th>
    <th scope="col">Año</th>
    <th scope="col">Facultad</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for e in object_list %}
<tr>
    <td>{{e.nombre}}</td>
    <td>{{e.lastName}}</td>
    <td>{{e.ci}}</td>
    <td>{{e.sex}}</td>
    {% if e.becado == False%}
        <td> No </td>
    {% else %}
        <td> Sí </td>
    {% endif %}
    {% if e.limitaciones == None%}
    <td> No </td>
    {% else %}
    <td> {{e.limitaciones}}</td>
    {% endif %}
    <td>{{e.carrera}}</td>
    <td>{{e.anno}}</td>
    <td>{{e.facultad}}</td>
    <td>
        <a href="{% url 'erp:estudiante_update' e.ci %}" class="btn btn-warning btn-xs ">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'erp:estudiante_delete' e.ci %}" type="button" class="btn btn-danger btn-xs btnCancelar">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>


{% endfor %}


{% endblock %}

