{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Nombre</th>
    <th scope="col">Apellidos</th>
    <th scope="col">CI</th>
    <th scope="col">Sexo</th>
    <th scope="col">Becado</th>
    <th scope="col">Limitaciones</th>
    <th scope="col">Carrera</th>
    <th scope="col">Año</th>
    <th scope="col">Facultad</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for e in object_list %}
{% if e.limitaciones == False%}
<tr>
    <td>{{e.nombre}}</td>
    <td>{{e.lastName}}</td>
    <td>{{e.ci}}</td>
    <td>{{e.sex}}</td>
    <td>{{e.becado}}</td>
    <td>{{e.limitaciones}}</td>
    <td>{{e.carrera}}</td>
    <td>{{e.anno}}</td>
    <td>{{e.facultad}}</td>
    <td>
        <a href="{% url 'erp:estudiante_update' e.ci %}" class="btn btn-warning btn-xs btn-flat">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'erp:estudiante_delete' e.ci %}" type="button" class="btn btn-danger btn-xs btn-flat">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>
{% endif %}
{% endfor %}


{% endblock %}

