{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Nombre</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Carrera</th>
    <th scope="col">Fecha</th>
    <th scope="col">Turno</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for gefd in object_list %}
{% if gefd.estudiante.sex == 'F' and gefd.diurno == True and gefd.estudiante.becado == True%}
<tr>
    <td>{{gefd.estudiante.nombre }}</td>
    <td>{{gefd.estudiante.lastName}}</td>
    <td>{{gefd.estudiante.carrera}}</td>
    <td>{{gefd.fecha| date:"d/m/Y"}}</td>
    <td>{{gefd.turno}}</td>
    <td>
        <button type="button" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></button>
    </td>
</tr>
{% endif %}
{% endfor %}


{% endblock %}