{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Nombre</th>
    <th scope="col">Apellidos</th>
    <th scope="col">Fecha</th>
    <th scope="col">Turno</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for gtd in object_list %}

{% if gtd.diurno %}
<tr>
    <td>{{gtd.trabajador.nombre }}</td>
    <td>{{gtd.trabajador.lastName}}</td>
    <td>{{gtd.day| date:"d/m"}}</td>
    <td>{{gtd.turno}}</td>
    <td>
        <button type="button" class="btn btn-warning btn-xs"><i class="fas fa-edit"></i></button>
        <button type="button" class="btn btn-danger btn-xs"><i class="fas fa-trash-alt"></i></button>
    </td>
</tr>
{% endif %}

{% endfor %}

{% endblock %}