{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Fecha de Aviso</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">CI</th>
    <th scope="col">Fecha de Citación</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for ace in object_list %}
<tr>
    <td>{{ace.fecha_aviso| date:"d/m/Y"}}</td>
    <td>{{ace.estudiante.nombre}}</td>
    <td>{{ace.estudiante.lastName}}</td>
    <td>{{ace.estudiante.ci}}</td>
    <td>{{ace.fecha_citacion| date:"d/m/Y"}}</td>
    <td>
        <a href="{% url 'erp:aviso_corte_estudiante_update' ace.id %}" class="btn btn-warning btn-xs ">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'erp:aviso_corte_estudiante_delete' ace.id %}" type="button" class="btn btn-danger btn-xs btnCancelar">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>
{% endfor %}

{% endblock %}