{% extends 'form.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% block botton %}


<button class="btn-sm" onclick="createPopupWin('http://127.0.0.1:8000/erp/aviso_corte_estudiante/add',
            'GeeksforGeeks Website', 700, 550);">
    Planificar una corte al Estudiante
</button>

<script>
        function createPopupWin(pageURL, pageTitle,
                    popupWinWidth, popupWinHeight) {
            var left = (screen.width - popupWinWidth) / 2;
            var top = (screen.height - popupWinHeight) / 4;

            var myWindow = window.open(pageURL, pageTitle,
                    'resizable=yes, width=' + popupWinWidth
                    + ', height=' + popupWinHeight + ', top='
                    + top + ', left=' + left);
        }


</script>

{% endblock %}

