{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Fecha</th>
    <th scope="col">CI
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for e in object_list %}
<tr>
    <td>{{e.fecha| date:"d/m/Y"}}</td>
    <td>{{e.estudiante.ci}}</td>
    <td>
        <a href="{% url 'erp:ausencia_estudiante_update' e.id %}" class="btn btn-warning btn-xs">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'erp:ausencia_estudiante_delete' e.id %}" type="button" class="btn btn-danger btn-xs">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>
{% endfor %}

{% endblock %}