{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Fecha</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">CI</th>
    <th scope="col">Justificación</th>
    <th scope="col">Replanificación</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for c in object_list %}
<tr>
    <td>{{c.fecha| date:"d/m/Y"}}</td>
    <td>{{c.estudiante.nombre}}</td>
    <td>{{c.estudiante.lastName}}</td>
    <td>{{c.estudiante.ci}}</td>
    <td>{{c.justifiacion}}</td>
    <td>{{c.replanificacion| date:"d/m/Y"}}</td>
    <td>
        <a href="{% url 'erp:corte_update' c.id %}" class="btn btn-warning btn-xs ">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'erp:corte_delete' c.id %}" type="button" class="btn btn-danger btn-xs ">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>
{% endfor %}

{% endblock %}