{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Fecha</th>
    <th scope="col">CI
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for t in object_list %}
<tr>
    <td>{{t.fecha| date:"d/m/Y"}}</td>
    <td>{{t.trabajador.ci}}</td>
    <td>
        <a href="{% url 'erp:ausencia_trabajador_update' t.id %}" class="btn btn-warning btn-xs">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'erp:ausencia_trabajador_delete' t.id %}" type="button" class="btn btn-danger btn-xs btn-flat">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>
{% endfor %}

{% endblock %}