{% extends 'list.html' %}

{% block columns %}
<tr>
    <th scope="col">Fecha</th>
    <th scope="col">Plan Estudiantes</th>
    <th scope="col">Real Estudiantes</th>
    <th scope="col">Plan Trabajadores</th>
    <th scope="col">Real Trabajadores</th>
    <th scope="col">Total de Ausencias</th>
    <th scope="col">Cumplimiento Total</th>
    <th scope="col">Opciones</th>
</tr>
{% endblock %}

{% block rows %}

{% for c in object_list %}
{% if c.reporte_mensual == False%}
<tr>
    <td>{{c.fecha| date:"d/m/Y"}}</td>
    <td>{{c.plan_est}}</td>
    <td>{{c.real_est}}</td>
    <td>{{c.plan_trab}}</td>
    <td>{{c.real_trab}}</td>
    <td>{{c.total_ausencias}}</td>
    <td>{{c.porciento_cumplimiento}}</td>
    <td>
        <a href="{% url 'erp:reporte_semanal_update' c.id %}" class="btn btn-warning btn-xs btn-flat">
            <i class="fas fa-edit"></i>
        </a>
        <a href="{% url 'erp:reporte_semanal_delete' c.id %}" type="button" class="btn btn-danger btn-xs btn-flat">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>
{% endif %}
{% endfor %}

{% endblock %}